In [26]:
#Q1: Import pandas library
import pandas as pd

In [27]:
#Q2: Read instagram_users.csv file
urlfile = "https://raw.githubusercontent.com/Data-Science-July31/Day7-Lab2-Pandas/main/instagram_users.csv"
insta = pd.read_csv(urlfile)

In [28]:
#Q3: Print the number of rows and columns contained in the dataset
insta.shape

(65326, 18)

In [29]:
#Q4: Print the size of dataset
insta.size

the number of rows and columns contained in the dataset is 65326 18

In [30]:
#Q5: Print the data type of each column
insta.dtypes

pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object

In [31]:
#Q6: Print the entire dataset
insta

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

In [32]:
#Q7: Print the first 5 rows
insta.head()

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
0,44,48,325,33,1,0,12,0.0,0.0,0.00,0.00,0.000,0.0,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.0,1.0,14.39,1.97,0.000,1.5,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.0,1.0,10.10,0.30,0.000,2.5,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.0,0.0,0.78,0.06,0.000,0.0,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.0,0.0,14.29,0.00,0.667,0.0,0.0,0.000,0.300494,0.126019,f

In [33]:
#Q8: Print the last 5 rows
insta.tail()

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

In [40]:
#Q9: Print the total number of null values
print(insta.isnull().sum())

pos      0
flw      0
flg      0
bl       0
pic      0
lin      0
cl       0
cz       0
ni       0
erl      0
erc      0
lt       0
hc       0
pr       0
fo       0
cs       0
pi       0
class    0
dtype: int64

In [35]:
#Q10: Print the rows that has duplicate values
insta[insta.duplicated()]

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
4118,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
4165,0,30,149,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
5812,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
6500,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
8134,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32745,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f
32747,0,34,7500,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
32748,0,77,7400,0,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
32749,0,70,7300,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,f
32764,0,0,0,0,0,0,-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,f

In [36]:
#Q11: Remove all duplicate values
insta.drop_duplicates(inplace = True)
insta

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

In [46]:
#Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values
print("the number of rows and columns contained in the dataset is", insta.shape)

the number of rows and columns contained in the dataset is (64244, 18)

In [47]:
#Q13: Rename all dataset's columns
insta = insta.rename(columns={"pos":"Num_posts",
                      "flg":"Num_following",
                      "bl":"Biography_length",
                      "pic":"Picture_availability",
                      "lin":"Link_availability",
                      "cl":"Average_caption_length",
                      "cz":"Caption_zero",
                      "ni":"Non_image_percentage",
                      "erl":"Engagement_rate_like",
                      "erc":"Engagement_rate_comment",
                      "lt":"Location_tag_percentage",
                      "hc":"Average hashtag count",
                      "pr":"Promotional keywords",
                      "fo":"Followers keywords",
                      "cs":"Cosine similarity",
                      "pi":"Post interval",
                      "class":"real_fake"})

insta

,Num_posts,flw,Num_following,Biography_length,Picture_availability,Link_availability,Average_caption_length,Caption_zero,Non_image_percentage,Engagement_rate_like,Engagement_rate_comment,Location_tag_percentage,Average hashtag count,Promotional keywords,Followers keywords,Cosine similarity,Post interval,real_fake
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

In [53]:
#Q14: Change the class's values to real and fake
insta["real_fake"] = insta["real_fake"].str.replace("r", "real")
insta["real_fake"] = insta["real_fake"].str.replace("f", "fake")
insta

,Num_posts,flw,Num_following,Biography_length,Picture_availability,Link_availability,Average_caption_length,Caption_zero,Non_image_percentage,Engagement_rate_like,Engagement_rate_comment,Location_tag_percentage,Average hashtag count,Promotional keywords,Followers keywords,Cosine similarity,Post interval,real_fake
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,fake
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,fake
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,fake
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,fake
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,fake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,real
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,real
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,real
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,real
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,real

In [54]:
#Q15: Print the total number of each fake accounts and real accounts
print(len(insta[insta["real_fake"]=="real"]))
print(len(insta[insta["real_fake"]=="fake"]))

32460
31784

In [51]:
#Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column
insta.describe()

,Num_posts,flw,Num_following,Biography_length,Picture_availability,Link_availability,Average_caption_length,Caption_zero,Non_image_percentage,Engagement_rate_like,Engagement_rate_comment,Location_tag_percentage,Average hashtag count,Promotional keywords,Followers keywords,Cosine similarity,Post interval
count,64244.000000,6.424400e+04,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000,64244.000000
mean,179.545047,1.202470e+03,2297.041732,58.464464,0.959140,0.286673,138.822131,0.254160,0.196484,19.469109,1.158611,0.212395,0.516348,0.033296,0.053727,0.289861,504.836848
std,729.171634,2.188954e+04,2572.939318,64.228211,0.197967,0.452211,216.786922,0.339104,0.253804,122.036954,5.857458,0.301645,1.164729,0.222799,0.523365,0.341986,950.611615
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,1.310000e+02,403.000000,0.000000,1.000000,0.000000,9.000000,0.000000,0.000000,3.000000,0.090000,0.000000,0.000000,0.000000,0.000000,0.032954,29.064719
50%,31.000000,3.480000e+02,997.000000,34.000000,1.000000,0.000000,48.000000,0.055556,0.083000,9.690000,0.460000,0.000000,0.111000,0.000000,0.000000,0.133135,190.369553
75%,127.000000,8.300000e+02,3500.000000,111.000000,1.000000,1.000000,174.000000,0.444444,0.333000,18.860001,1.060000,0.357000,0.611000,0.000000,0.000000,0.431373,591.858658
max,76200.000000,3.900000e+06,8800.000000,555.000000,1.000000,1.000000,3644.000000,1.000000,1.000000,26650.000000,1009.090027,1.000000,30.000000,20.000000,58.000000,1.000000,26786.134766